.calculator {
    width: 300px;
    margin: 100px auto;
    background-color: #961b1b;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#display {
    width: 93%;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 18px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    padding: 15px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    background-color: #784242;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #371b1b;
}
